<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header" class="big-box">
    <p>Title Goes Here</p>
    </div>
    <div id="animation" class="big-box">
      <p>Animation Goes Here</p>
    </div>
    <div id="books" class="big-box">
      <div class="book-display"><div class="cover-image"></div><div class="title-and-etc"></div><div class="indiv-books-stats"></div></div>
      <div class="book-display"><div class="cover-image"></div><div class="title-and-etc"></div><div class="indiv-books-stats"></div></div>
      <div class="book-display"><div class="cover-image"></div><div class="title-and-etc"></div><div class="indiv-books-stats"></div></div>
      <div class="book-display"><div class="cover-image"></div><div class="title-and-etc"></div><div class="indiv-books-stats"></div></div>
    </div>
    <div id="stats" class="big-box">
      <div id="total-pages-left" class="stats-box">Total Pages Left: <br></div>
    </div>
  </body>
</html>
