@font-face {
  font-family: Bagnard;
  src: url(/fonts/Bagnard.otf)
}

:root {
  --mainCol: #FFEFC7;
  --rightCol: #CDF360;
  --leftCol: #FF8C7D;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-family: Bagnard;
  background-color: var(--mainCol)
}

#main-box {
  display: grid;
  grid-template-rows: 110px 270px 270px 80px;
  grid-template-areas: 'logo' 'animation' 'books' 'stats'
}

a {
  color: #00B7FF;
  font-size: 100px;
  text-decoration: none;
}

.big-box {
  width: 730px;
  margin: 10px;
  color: white;
  display: flex;
  align-items: center;
  padding: 8px;
}

.cover-image{
  grid-area: cover-image;
  background-color: var(--rightCol);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-and-etc{
  grid-area: title-and-etc;
  background-color: gray;
}

.book-display {
  display: grid;
  grid-template-rows: 160px 60px;
  grid-template-columns: 100px 62px;
  grid-template-areas: 'cover-image indiv-books-stats' 'title-and-etc title-and-etc';
}

.indiv-books-stats {
  grid-area: indiv-books-stats;
  background-color: lightgray;
}

#books {
  display: flex;
  grid-area: books;
  justify-content: space-around;
  background-color: var(--leftCol);
}

.title-and-etc {
  padding: 10px;
  line-height: 20px;
}

#animation {
  display: flex;
  justify-content: center;
}

.page-entry {
  width: 42px
}

#new-book-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#new-book-form > input {
  margin: 5px;
  height: 25px;
}

#stats{
  display: flex;
  justify-content: space-around;
  grid-area: stats;
}

#logo-text {
  grid-area: logo;
  font-size: 40px;
  margin: 5px 0 0 0;
  background-color: var(--leftCol);
  padding: 15px 20px 10px 20px;
  border-radius: 10%;
  width: 225px;
}

.stats-box{
  border: solid white;
  background-color: var(--leftCol);
  display: flex;
  padding: 20px;
  height: 20px;
  font-size: 20px;
}

.stats-box > h4 {
  margin: 0;
}

.indiv-books-stats {
  color: black;
  font-size: 30px;
  padding: 5px;
}

#header {
  grid-area: logo;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. logo login';
  justify-items: center;
  align-items: center;
}

#animation {
  grid-area: animation;
  background-color: black;
}

.login {
  grid-area: login;
  font-size: 20px;
  color: black;
}

.legend {
  font-size: 14px;
  margin: 0;
}